cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.0.0
cmake==3.21.2
colorama==0.4.4
comtypes==1.1.10
convertdate==2.3.2
cycler==0.10.0
Cython==0.29.24
graphviz==0.17
greenlet==1.1.1
grpcio==1.34.1
gunicorn==20.1.0
h5py==3.1.0
hijri-converter==2.2.1
html5lib==1.1
hydra-core==1.1.1
idna==2.10
imageio==2.12.0
imantics==0.1.12
imbalanced-learn==0.8.0
imblearn==0.0
imgaug==0.4.0
iopath==0.1.9
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==2.0.1
numpy==1.19.5
oauthlib==3.1.1
omegaconf==2.1.1
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56
opencv-python-headless==4.5.4.60
openpyxl==3.0.7
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.5
pandas-datareader==0.10.0
pandocfilters==1.4.3
parso==0.8.2
pathspec==0.9.0
pefile==2021.5.24
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.4.0
playsound==1.2.2
plyer==2.0.0
pooch==1.5.2
portalocker==2.3.2
prettytable==2.1.0
prometheus-client==0.11.0
prompt-toolkit==3.0.18
protobuf==3.17.3
psutil==5.8.0
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycaw==20181226
pycountry==20.7.3
pycparser==2.20
pydeck==0.7.0
pydot==1.4.2
pydub==0.25.1
pygal==2.4.0
pygame==2.0.1
Pygments==2.9.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyMeeus==0.5.11
pyparsing==2.4.7
pyproj==3.1.0
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
pywin32-ctypes==0.2.0
PyYAML==6.0
pyzmq==22.1.0
qtconsole==5.1.0
QtPy==1.9.0
regex==2021.8.28
setuptools-git==1.2
Shapely==1.7.1
six==1.15.0
sklearn==0.0
smmap==4.0.0
sniffio==1.2.0
SoundFile==0.10.3.post1
soupsieve==2.2.1
sqlparse==0.4.1
streamlit==0.88.0
virtualenv==20.4.7
watchdog==2.1.5
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
